@use "./variable" as var;
.form {
  margin: 80px auto;
  border: 2px solid var.$cl-grey;
  width: 40rem;
  padding: 30px;
  border-radius: 6px;

  h2 {
    text-align: center;
    color: var.$cl-dark;
    text-transform: capitalize;
  }
  label {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: Arial;
  }
  input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 30rem;
    outline: 1px solid var.$cl-grey;
    transition: all 0.3s;
    color: var.$cl-dark;
    font-size: 17px;
  }
  input:focus {
    outline: 2px solid var.$cl-grey;
  }
  .button {
    margin-top: 10px;
    background-color: var.$cl-blue;
    color: var.$cl-white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
  }
  .button:hover {
    background-color: var.$btn-hover-bg;
  }
}
